.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 1rem;
    width: 20rem;
    padding: .5rem 1rem .2rem .5rem;
    box-shadow: 0rem .3rem 1rem 0rem rgba(0,0,0,0.2);
}

.dropdown {
  padding-left: .2rem;
  border: 1px solid grey;
  border-radius: 5px;
  height: 2rem;
  width: 39rem;
  box-shadow: 0rem .3rem 1rem 0rem rgba(0,0,0,0.2);
  display: flex;
}