.container {
    padding: .5rem;

    text-align: center;
}

.buttonStartStop {
    background-color: #5977BD;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: .5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
}

.buttonReset {
    background-color: #5977BD;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: .5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
}

.buttonEnd {
    background-color: #5977BD;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: .5rem 2.5rem;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
}