.App-header {
    background-color: white;
    padding: 1rem;
    display: flex;
    position: sticky;
    top: 0;
}

.App-body {
    background-color: #5977BD;
    padding: 24rem;

}

.App-nav {
    background-color: #202020;
    float: left;
    text-decoration: none;
    position: relative;
    
}

.App-footer {
    background-color: white;
    display: flex;
}