.App-header {
    background-color: whitesmoke;
    position: sticky;
    padding: 1rem 5rem 0rem;
    display: flex;
    font-family: 'Fira Sans Condensed', sans-serif;

}

.main {
    color: #5977BD;
    padding-top: 1.5rem;
    font-size: 2.5rem;
}

.main-second {
    color: #87C7AD;
    font-size: 3rem;

}

.App-regAndlog {
    display: flex;
    justify-content: center;
}

.App-nav {
    background-color: whitesmoke;
    text-decoration: none;
    display: flex;
}

.Map-view {
    padding: 20rem 45rem;
    border-radius: 1rem;
}
