.App-header {
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    position: sticky;
    top: 0;
    font-size: 100%;
    font: inherit;
}


.App-nav {
    background-color: #282828;
    float: left;
    text-decoration: none;
    position: relative;

}

.App-body {
    background-color: #5977BD;
    padding: 24rem;
    justify-content: right;

}


.App-footer {
    background-color: whitesmoke;
    display: flex;
}